<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/hat.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/newsletter.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Alice no país dos Livros Fantásticos</title>

</head>

<body>
    <header><%- include('components/header.ejs') %> </header>
    <div class="radial-gradient"></div>
    <section>
        <div class="container1">
            <div class="modal">
                <legend><b> Fica a Par das Novidades </b></legend>
                <br>
                <div class="inputbox">
                    <label for="idnome">Nome:</label>
                    <input type="text" id="idnome" class="inputuser" name="idnome" required
                        placeholder="Insira o seu nome">
                </div>
                <br>
                <div class="inputbox">
                    <label for="idemail">Email:</label>
                    <input type="email" id="idemail" class="inputuser" name="idemail" required
                        placeholder="Insira email">
                </div>
                <br>
                <div>
                    <button type="reset" id="reset" value="Limpar">Limpar</button>
                    <button type="submit" id="submit" value="Enviar">Enviar</button>
                </div>
            </div>
        </div>
    </section>
    <footer><%- include('components/footer.ejs') %></footer>
    <script src="/public/js/newsletter.js"></script>
</body>

</html>