<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/hat.png" type="image/x-icon">
    <link rel="stylesheet" href="newsletter.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <title>Alice no país dos Livros Fantásticos</title>
   
</head>
<body>
    <div>
     <form class="idform">
         <fieldset >
             <legend><b> Fica a Par das Novidades </b></legend>
             <br>

         <div class="inputbox">
            <label for="idnome">Nome:</label> 
            <input type="text" id="idnome" class="inputuser" name="idnome" required placeholder="Insira o seu nome">
         </div>
         <br>
         <div class="inputbox">
             <label for="idemail">Email:</label> 
             <input type="email" id="idemail" class="inputuser" name="idemail" required placeholder="Insira email" >
          </div>
          <br>
         <div>
            <input type="reset" id="reset" value="Limpar">
            <input type="submit" id="submit" value="Enviar">
        </div>
    </fieldset>
    </form>
    </div>           
</body>
</html>