* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

.radial-gradient {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000000;
    background:
        radial-gradient(at center, #923CB5, #000000);
}

.section {
    margin: 0 auto;
    margin-bottom: 500px;
    height: 500px;
    padding: 20px;
}

body {
    min-height: 100vh;
    background-color: var(--light);
    max-width: 100vw;
    margin: auto;
}

.modal {
    width: auto;
    min-height: 450px;
    margin-left: 30rem;
    margin-right: 30rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(255, 217, 90, 1);
    border: 2px solid #C07F00;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .modal {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(2px);
        background: rgba(169, 143, 173, 0.692);
    }
}

.modal2 {
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(255, 217, 90, 1);
    border: 2px solid #C07F00;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .modal2 {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(2px);
        background: rgba(169, 143, 173, 0.692);
    }
}

/* ---------------------------------------------------------------------------------- */
/* !!!!!NAVBAR!!!!!!!! */


.quote {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    color: black;
}

.container_books {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 10px;
    padding: 50px;
}


/*PAGE CURRENTLY READING*/

.currently_reading {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    max-height: fit-content;
}

.currently_reading_details {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.currently_reading_details #sinopse {
    text-align: justify;
}

.currently_reading_button {
    font-size: 18px;
    width: 200px;
    text-align: center;
    background-color: var(--greenButton);
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-top: 8px;
}

.img_reading {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(255, 217, 90, 1);
    border: 2px solid #C07F00;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.currently_reading_button_review {
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    background: #529e46;
    padding: 0.5em;
    border-radius: 100px;
    border-top: 3px solid black;
    box-shadow: 0 10px 0 #203d1c;
    margin-left: 50px;
}

.ratings_reviews {
    margin-right: 16em;
    display: flex;
    gap: 30px;
}


hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(255, 217, 90, 1);
    border: 2px solid #C07F00;
}