* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}


.section {
    margin: auto;
    margin-bottom: 500px;
    height: 500px;
    padding: 20px;
}

.radial-gradient {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

button {
    color: black;
    top: 900px;
    margin-top: 20px;
    padding: 1em 2em;
    cursor: pointer;
    background: #529e46;
    border-radius: 100px;
    border-top: 3px solid black;
    box-shadow: 0 10px 0 #203d1c;
    transition: box-shadow 0.1s, top 0.1s;
}

/* -------------------------------------------------------------- */

.modal {
    width: 900px;
    min-height: 450px;
    padding: 1rem 1rem;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(255, 217, 90, 1);
    border: 2px solid #C07F00;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .modal {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(2px);
        background: rgba(169, 143, 173, 0.692);
    }
}


.container1 {
    margin: 0 auto;
    position: relative;
    perspective: 3500px;
    z-index: 2;
}

legend{
    color: white;
    font-size: 40px;
    font-family: Helvetica;

}

.inputbox{
    color: white;
    font-size: 20px;
    font-family: Helvetica;
}


input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}

input:focus{
    border-color: #ff008869;
}