* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
    justify-content: center;
}

body {
    background: #923CB5;
    background:
    radial-gradient(at center,#923CB5, #000000 );
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.section {
    margin: 0 auto;
    margin-bottom: 500px;
    height: 500px;
    padding: 20px;
}

header, footer{
    z-index: -1;
}

.radial-gradient {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -5;
}

.imgFundo {
    opacity: 0.5;
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    transform: translate(-50%, -50%);
    right: -500px;
    bottom: -220px;
    height: auto;
    z-index: -2;
}

.imgFundo2 {
    opacity: 0.5;
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    transform: translate(-50%, -50%);
    right: -350px;
    bottom: -220px;
    height: auto;
    z-index: -2;
}


.box {
    width: 80%;
    max-width: 900px;
    min-height: 450px;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(255, 217, 90, 1);
    border: 2px solid #C07F00;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .box {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(2px);
        background: rgba(169, 143, 173, 0.692);
    }
}




h2, a, p{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

a:hover{
    color: #529e46;
}

.w50 {
    width: 50%;
    float: left;
    padding-right: 15px;
}

.box {
    display: flex;
    width: 930px;
}


.form-box {
    padding: 30px 40px;
    width: 50%;
    border-radius: 20px 20px 20px 20px;
}

.form-box h2 {
    font-size: 30px;
}

.form-box p {
    font-weight: bold;
    color: #766c6c;
}

.form-box p a {
    color: #203d1c;
    text-decoration: none;
}

.form-box form {
    margin: 20px 0;
}

form .input-group {
    margin-bottom: 15px;
}

form .input-group label {
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input {
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: white;
    transition: all 0.4s ease;
}

form .input-group input:focus {
    border-color: #ff008869;
}

form .input-group button {
    font-size: 15px;
    color: black;
    padding: 1em 1em;
    cursor: pointer;
    background: #529e46;
    border-radius: 100px;
    border-top: 3px solid black;
    box-shadow: 0 10px 0 #203d1c;
    transition: box-shadow 0.1s, top 0.1s;
}

@media (max-width:930px) {
    .img-box {
        display: none;
    }

    .box {
        width: 700px;
    }

    .form-box {
        width: 100%;
        border-radius: 20px;
    }
}

@media (max-width:500px) {
    .w50 {
        width: 100%;
        padding: 0;
    }
}