/* Reset some default styles */
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}


.section {
  margin-bottom: 500px;
  padding: 20px;
}

.radial-gradient {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  
  /*Fallback if gradeints don't work */
  background: #000000;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, #DA0C81, #000000
    );
}

/*-----------------------------------------------------------------*/
.container {
  margin: 0 auto;
  width: 350px;
  height: 200px;
  position: relative;
  perspective: 3500px;
}

*{
  margin:0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Our wrapper */
.wrapper{
  width: 690px;
  height: 600px;
  max-height:100vh;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate3d(-50%,-50%,0);
  overflow:hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


/* Our image information */
.bottom,
.middle,
.top {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
  overflow: hidden;
  img {
    height:100%;
  }
}

.bottom{
  background: #2196f3;
}
.middle {
  background:  #bbdefb;
}
.top{
  background:  #ffffff;
}

.top{
  width:125px;
}

.scroller{
  width: 50px;
  height:50px;
  position: absolute;
  left:100px;
  top:50%;
  transform:translateY(-50%);
  border-radius:50%;
  background-color: #fff;
  opacity:0.9;
  transition: opacity 0.12s ease-in-out;
  pointer-events:auto;
  cursor: pointer;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}
.scroller-middle{
  margin-top:25px;
}
.scroller-top{
  margin-top:-25px;
}


.scroller:hover{
  opacity:1;
}

.scrolling{
  pointer-events:none;
  opacity:1;
  z-index: 1;
}

.scroller__thumb{
  width:100%;
  height:100%;
  border-radius:50%;
  padding: 7px;
}

.scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition:0.1s;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}
.scroller:before{
  top:49px;
}
.scroller:after{
  bottom:49px;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller-middle>.scroller__thumb{
  border: 5px solid #FFCCBC;
}
.scroller-middle:before,
.scroller-middle:after{
  background: #FFCCBC;
}

.scroller-top>.scroller__thumb{
  border: 5px solid #FFAB91;
}
.scroller-top:before,
.scroller-top:after{
  background: #FFAB91;
}



/* -------------------------------------------------------------- */
body {
  padding: 70px 0;
  font: 15px/20px Arial, sans-serif;
}

.container1 {
  margin: 0 auto;
  width: 350px;
  height: 200px;
  position: relative;
  perspective: 3500px;
}

.carousel1 {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  width: 304px;
  height: 500px;
  font-size: 13px;
  text-align: center;
  color: #000;
}

img {
  width: 70%;
}

.hidden {
  display: none;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.a {
  transform: rotateY(0deg) translateZ(366px);
}

.b {
  transform: rotateY(45deg) translateZ(366px);
}

.c {
  transform: rotateY(90deg) translateZ(366px);
}

.d {
  transform: rotateY(135deg) translateZ(366px);
}

.e {
  transform: rotateY(180deg) translateZ(366px);
}

.f {
  transform: rotateY(225deg) translateZ(366px);
}

.g {
  transform: rotateY(270deg) translateZ(366px);
}

.h {
  transform: rotateY(315deg) translateZ(366px);
}

.next,
.prev {
  color: #444;
  position: absolute;
  top: 900px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 100px;
  border-top: 1px solid #FFF;
  box-shadow: 0 10px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

.next:hover,
.prev:hover {
  color: #000;
}

.next:active,
.prev:active {
  top: 900px;
  box-shadow: 0 1px 0 #999;
}

.next {
  right: 20em;
}

.prev {
  left: 20em;
}

/* -------------------------------------------------------------- */

.container2 {
  margin: 0 auto;
  width: 350px;
  height: 200px;
  position: relative;
  perspective: 3500px;
}

.carousel2 {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;

  width: 300px;
  height: 500px;
  font-size: 13px;
  text-align: center;
  color: #000;
}

.modal {
  width: 300px;
	min-height: 450px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-right: 2px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
.modal {
  -webkit-backdrop-filter: blur( 8.5px );
  backdrop-filter: blur( 8.5px );
  background: rgba( 255, 255, 255, 0.65 );
}
}

img {
  width: 70%;
}

.hidden {
  display: none;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}



.p {
  transform: rotateY(0deg) translateZ(366px);
}

.i {
  transform: rotateY(45deg) translateZ(366px);
}

.j {
  transform: rotateY(90deg) translateZ(366px);
}

.k {
  transform: rotateY(135deg) translateZ(366px);
}

.l {
  transform: rotateY(180deg) translateZ(366px);
}

.m {
  transform: rotateY(225deg) translateZ(366px);
}

.n {
  transform: rotateY(270deg) translateZ(366px);
}

.o {
  transform: rotateY(315deg) translateZ(366px); 
}


.next2,
.prev2 {
  color: #444;
  position: absolute;
  top: 1650px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 100px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next2:hover,
.prev2:hover {
  color: #000;
}

.next2:active,
.prev2:active {
  top: 1650px;
  box-shadow: 0 1px 0 #999;
}

.next2 {
  right: 20em;
}

.prev2 {
  left: 20em;
}

button {
  color: #444;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 100px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

/* -------------------------------------------------------------- */

