<!DOCTYPE html>
<html>
<head>
    <title>Meu Footer</title>
    <link rel="shortcut icon" href="/public/assets/imgs/hat.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/footer.css">
    
</head>
<body>

    <footer class="rodape" id="contato">
        <div class="rodape-div">
    
            <div class="rodape-div-1">
                <div class="rodape-div-1-coluna">
                    <!-- elemento -->
                    <span><b><img src="/public/assets/imgs/logo livros.png" alt="Logo" class="logo-img" style="border-radius: 50%;width: 80%; height: 60%;"></b></span>
                </div>
            </div>
    
            <div class="rodape-div-2">
                <div class="rodape-div-2-coluna">
                    <!-- elemento -->
                    <span><b>Apoio ao Cliente</b></span>
                    <p>geral@livrosfantasticos.pt</p>
                    <p>+351 911234567</p>
                    <p>Avenida do Bom Sucesso, Nº7 <br>4000-001 Porto</p>
                </div>
            </div>
    
            <div class="rodape-div-3">
                <div class="rodape-div-3-coluna">
                    <!-- elemento -->
                    <span><b>Redes Sociais</b></span>
                    <p><a href="#facebook">Facebook</a></p>
                    <p><a href="#instagram">Instagram</a></p>
                    <p><a href="#whatsaap">Whatsaap</a></p>
                </div>
            </div>
    
            <div class="rodape-div-4">
                <div class="rodape-div-4-coluna">
                    <!-- elemento -->
                    <span><b>Links Uteis</b></span>
                    <p><a href="https://livrodeelogios.com/" target="_blank">Livro de Elogios</a></p>
                    <p><a href="https://www.livroreclamacoes.pt/Inicio/" target="_blank">Livro de Reclamações</a></p>
                    <p><a href="https://eportugal.gov.pt/entidades/direcao-geral-do-consumidor" target="_blank">Direitos do Consumidor</a></p>


                </div>
            </div>
        
            <div>
                <a class="btn btn-primary" href="newsletter.html" target="_blank" style="background-color: rgb(74, 49, 107);" role="button">Novidades Fantásticas</a>    
            </div>
    
        </div>
        <p class="rodape-direitos">Copyright © 2023 – Todos os Direitos Reservados. <br>Elaborado por: Fernando, Daniel e Cátia</p>
</footer>

</body>
</html>