<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/assets/imgs/hat.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/Header.css">

    <title>Alice no país dos Livros Fantásticos</title>
</head>
<body>
    <header class="navbar">

        <div id="logotipo">
            <img src="/public/assets/imgs/logo livros.png" alt="Logotipo da livraria"
                style="border-radius: 50%; width:90px; height: 90px;">
        </div>
        
        <div class="search-bar">
            <input class="input" type="text" placeholder="Pesquisar...">
            <button type="submit">Procurar</button>
        </div>
               
        <div id="Wishlist">
            <a href="#"><img id="heart" src="/public/assets/imgs/favorite.png" alt="lista de favoritos"
                    style="width: 40px; height: 40px;margin-right: 10%;"></a>
        </div>
        <div id="carrinho">
            <a href="#"><img src="/public/assets/imgs/shopping-cart2.png" alt="carrinho de compras"
                    style="width: 40px; height: 40px;"></a>
        </div>
        <div id="Login">
            <% if (userAuthenticated !== undefined && userAuthenticated !== null) { %>
                <p>Bem-vindo, <%= existingUser.username %></p>
                <a href="/logout">Logout</a>
            <% } else { %>
            <a href="/login"><img src="/public/assets/imgs/mad-hatter.png" alt="login"
                    style="width: 40px; height: 40px;margin-right: 10%;"></a>
            <% } %>
        </div>
        <!-- dropdown da navbar - menu -->
        <div class="Menu" style="padding-right: 70px;">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                 <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Log In</a></li>
                    <li><a class="dropdown-item" href="#">Wishlist</a></li>
                    <li><a class="dropdown-item" href="#">A tua Conta</a></li>
                </ul>
           </div>
            </div>
    </div>
    </header>  
</body>
</html>